@model WebApplication1.Models.UserModel
@{
    ViewBag.Title = "Index";
}

<h2>User Page</h2>

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = "userForm" }))
{
    <table>
        <tr>
            <td>ID:</td>
            <td>@Html.TextBoxFor(u => u.ID )</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>@Html.TextBoxFor(u => u.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(u => u.LastName)</td>
        </tr>
        <tr>
            <td>Age: </td>
            <td>@Html.TextBoxFor(u => u.Age)</td>
        </tr>
        <tr>
            <td>Register Date: </td>
            <td>@Html.TextBoxFor(u => u.RegisterDate)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/><input id="ajaxSubmit" type="button" value="Ajax Submit" /></td>
        </tr>
    </table>
}
<br />
<h4>Users</h4>
<table class="table table-bordered">
    <tr>
        <th>ID </th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Age </th>
        <th>Registered Since</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Age</td>
        <td>@Model.RegisterDate</td>
    </tr>
</table>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#ajaxSubmit").click(function () {
            var fd = new FormData();
            fd.append("FirstName", $("#FirstName").val());
            fd.append("LastName", $("#LastName").val());
            $.ajax({
                url: "/User/Test",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {
                    alert(response);
                }
            });
        });
    });
</script>